[include]
	path = ~/.gitconfig_personal # name, email, signingkey
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	st = status
	lo = log --oneline
[core]
	pager = less -x4
