[include]
	path = ~/.gitconfig_personal # name, email, signingkey
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
    default = simple
    autoSetupRemote = true
[alias]
	st = status
	sts = status --short
	lo = log --oneline
[core]
  pager = delta 
[interactive]
   diffFilter = delta --color-only
[delta]
   navigate = true
   dark = true
   tabs = 4
[merge]
   conflictstyle = zdiff3
[url "git@github.com:"]
	insteadOf = https://github.com/
